.movies-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 80px 0 0;
}

.movies-card-list__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    list-style: none;
    column-gap: 30px;
    row-gap: 60px;
}

.movies-card-list__button-more {
    margin: 51px 0 80px;
    padding: 11px 0 9px;
    width: 320px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #424242;
    cursor: pointer;
}

.movies-card-list__button-more:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .movies-card-list__list {
        grid-template-columns: repeat(auto-fit, 339px);
        row-gap: 46px;
        padding-bottom: 10px;
    }

    .movies-card-list__button-more {
        max-width: 320px;
    }
}

@media screen and (max-width: 570px) {
    .movies-card-list {
        padding: 50px 0 0;
    }

    .movies-card-list__list {
        grid-template-columns: repeat(auto-fit, 300px);
        row-gap: 37px;
    }

    .movies-card-list__button-more {
        max-width: 240px;
        margin: 54px 0 80px;
    }
}