.movies-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
} 

.movies-card__image {
    width: 360px;
    height: 201px;
    border-radius: 6px;
}

.movies-card__info {
    display: flex;
    align-items: center;
    max-width: 360px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    gap: 30px;
}

.movies-card__title {
    width: 250px;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-align: left;
}

.movies-card__time {
    width: 52px;
    border-radius: 3px;
    background: #2F2F2F;
    color: #8B8B8B;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    padding: 4px 3px 3px;
}

.movies-card__button {
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 30px;
    background: #313131;
    width: 72px;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    border: none;
    padding: 6px 7px;
    visibility: hidden;
    cursor: pointer;
}

.movies-card__button:hover {
    opacity: 0.7;
}

.movies-card__button-saved {
    background-image: url('../../images/save-card.svg');
    width: 21px;
    height: 21px;
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.movies-card__button-saved:hover {
    opacity: 0.7;
}

.movies-card__button-delete {
    background-image: url('../../images/delete-card.svg');
    width: 21px;
    height: 21px;
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    visibility: hidden;
}

.movies-card__button_visible {
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .movies-card {
        max-width: 339px;
    }

    .movies-card__image {
        width: 339px;
        height: 190px;
    }

    .movies-card__info {
        padding-top: 25px;
    }

    .movies-card__button-delete {
        visibility: visible;
    }

    .movies-card__button {
        visibility: visible;
    }
}

@media screen and (max-width: 570px) {
    .movies-card {
        max-width: 300px;
    }

    .movies-card__image {
        width: 300px;
        height: 168px;
    }

    .movies-card__info {
        max-width: 300px;
        padding-top: 15px;
    }

    .movies-card__button-saved {
        top: 10px;
        right: 10px;
    }

    .movies-card__title {
        font-size: 12px;
    }
}