.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px 0;
    text-align: left;
}

.promo__banner {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    border-radius: 10px;
    background: #272727;
    padding-bottom: 0;
}

.promo__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
    padding: 160px 235px 151px;
    text-align: center;
}

.promo__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    gap: 10px;
}

.promo__link {
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.promo__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1245px) {
    .promo__title {
        padding: 160px 125px 151px;
    }
    
}

@media screen and (max-width: 1025px) {
    .promo__title {
        padding: 160px 100px 151px;
    }
}

@media screen and (max-width: 978px) {
    .promo__title {
        padding: 160px 0px 151px;
    }
}

@media screen and (max-width: 850px) {
    .promo__container {
        padding: 20px;
        padding-bottom: 0;
    }

    .promo__banner {
        max-width: 728px;
    }

    .promo__title {
        padding: 350px 60px 314px;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: -1.6px;
    }
}

@media screen and (max-width: 720px) {
    .promo__title {
        padding: 350px 30px 314px;
    }
}

@media screen and (max-width: 660px) {

    .promo__container {
        padding: 14px 14px 0;
    }

    .promo__title {
        padding: 220px 30px 212px;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: -1.16px;
    } 
}

@media screen and (max-width: 425px) {
    .promo__banner {
        max-width: 292px;
    }
    .promo__title {
        padding: 220px 0 212px;
    }
}

