.search {
    display: flex;
    max-width: 1140px;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 0 40px;
    border-bottom: 1px solid #424242;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    gap: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

.search__input {
    width: 100%;
    max-width: 1086px;
    box-sizing: border-box;
    padding: 16px 20px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background: #2F2F2F;
    color: #8B8B8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.search__button {
    background-image: url(../../images/find.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 44px;
    height: 44px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .search__input {
        max-width: 654px;
    }
}

@media screen and (max-width: 570px) {
    .search {
        max-width: 292px;
    }
    
    .search__input {
        max-width: 238px;
    }
}