.filtercheckbox {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
    
.filtercheckbox__input {
    display: none;
}

.filtercheckbox__input:checked + span {
    background-image: url(../../images/smalltumb.svg);
}

.filtercheckbox__text {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.filtercheckbox__check {
    width: 36px;
    height: 20px;
    background-image: url(../../images/smalltumboff.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0px;
}

.filtercheckbox:hover {
    opacity: 0.7;
    cursor: pointer;
}