.register {
    width: 100%;
}

.register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    padding-bottom: 40px;
    max-width: 396px;
}

.register__link {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.register__link:hover {
    opacity: 0.8;
}

.register__title {
    margin: 0;
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    text-align: left;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 396px;
    gap: 20px;
    padding-bottom: 91px;
}

.register__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.register__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 10px;
    text-align: left;
}

.register__label-input {
    display: flex;
    position: relative;
    font-size: 10px;
    line-height: normal;
    font-weight: 400;
    color: #8B8B8B;
}

.register__input {
    max-width: 396px;
    height: 46px;
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 15px;
    padding-right: 0;
}

.register__input:focus {
    outline: 2px solid #3DDC84;
    outline-offset: 2px;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7); 
    transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.register__input:invalid {
    color: #EE3465;
}

.register__error {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #EE3465;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    max-width: 396px;
}

.register__button-submit {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: none;
    background-color: #4285F4;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.register__button-submit:hover {
    opacity: 0.8;
}

.register__text {
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__text-link {
    color: #4285F4;
    cursor: pointer;
    text-decoration: none;
    padding-left: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__text-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .register {
        padding: 162px 0;
    }

    .register__form {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 0 0 30px;
        max-width: 260px;
    }

    .register__container {
        padding: 57px 0;
    }
    
    .signup {
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-bottom: 80px;
    }

    .register__form {
        padding-bottom: 178px;
    }

    .register__buttons {
        gap: 14px;
    }

    .register__button-submit {
        font-size: 12px;
    }

    .register__text {
        font-size: 12px;
    }

    .register__text-link {
        font-size: 12px;
    }
}