.footer {
    display: flex;
    justify-content: center;
    background-color: #202020;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 79px 70px 20px;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}

.footer__title {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    border-bottom: 1px solid #424242;
    color: #8B8B8B;
    box-sizing: border-box;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer__copyright {
    margin: 0;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    box-sizing: border-box;
}

.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    gap: 20px;
}

.footer__link {
    color: #FFFFFF;
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .footer__container {
        padding: 77px 30px 20px;
    }
    
}

@media screen and (max-width: 425px) {
    .footer__container {
        padding: 79px 10px 20px;
        gap: 30px;
    }
    
    .footer__title {
        font-size: 12px;
        padding-bottom: 21px;
    }

    .footer__info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 29px;
    }

    .footer__links {
        flex-direction: column;
        gap: 7px;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__copyright {
        font-size: 12px;
        color: #8B8B8B;
        margin: 0;
    }
}